@media screen and (max-width: 958px) {
    .minScreen {
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;
        min-height: 0vh;
    }

    .containerImageEstoque {
        display: none;
    }

    .minScreenRegister {
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;
        min-height: 0vh;
        margin-top: 10rem;
    }

    .containerImageEstoqueRegister {
        display: none;
    }

}

@media screen and (max-width: 500px) {
    .imageVetor {
        width: 190px;
        height: 190px;
    }
}