* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* HEADER CONTAINER */

.header {
    background-color: #1976D2;
    color: #fff;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo a {
    color: #fff;
    text-decoration: none;
    font-size: 1.5rem;
}

.navbar ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.navbar ul li {
    margin-right: 1rem;
}

.navbar ul li a {
    color: #fff;
    text-decoration: none;
}

.navbar ul li a:hover {
    text-decoration: underline;
}

/* HOME CONTAINER */

.container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.links {
    margin-top: 0px;
}

.links a {
    display: inline-block;
    margin-right: 10px;
    text-decoration: none;
    color: #333;
    padding: 8px 15px;
    border: 1px solid #333;
    border-radius: 5px;
    transition: all 0.3s ease;
}

.links a:hover {
    background-color: #333;
    color: #fff;
}

/* DASHBOARD CONTAINER */

.container-dashboard {
    display: flex;
    flex-direction: row;

}

.row {
    display: flex;
    flex-wrap: wrap;
}

.card {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    background-color: #37474F;
    color: #ddd;
    width: 450px;
    margin: 10px;
    padding: 40px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-sizing: border-box;
}

/* MENU CONTAINER */

.menu {
    width: 300px;
    background-color: #455A64;
    height: 75vh;
    /* padding: 20px; */
}


.title-menu {
    text-align: center;
    padding: 20px;
    color: #fff;
    background-color: #455A64;
}

.input-menu {
    width: 90%;
    padding: 15px 0px;
    margin: 1% 5%;
    border: none;
}

.input-menu::placeholder {
    background-color: #333;
    width: 100%;
    padding: 20px;
}

.menu ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.menu ul a {
    padding: 15px 10px;
    display: flex;
    align-items: center;
    align-content: center;
    gap: 10px;
    background-color: #37474F;
    text-decoration: none;
    color: #fff;
    cursor: pointer;
    transition: .1s;
    font-size: 19px;
}

.menu ul a:hover {
    border-left: 3px solid #1976D2;
    background-color: #37474f9f;
}

.menu ul li a {

    text-decoration: none;
    color: #fff;
    font-size: 19px;
}

.menu ul li a:hover {
    color: #fff;
}

i {
    color: #fff;
}

.footer-menu {
    background-color: #37474F;
}

.footer-menu p {
    font-size: 30px;
    padding: 5px 10px;
    color: #455A64;
}

.grid-dashboard {
    display: grid;

    grid-template-columns: 1fr 6fr;
}

/* FORMULARIO */

form {
    max-width: 400px;
    margin: 0 auto;
}

/* Estilos para os campos e rótulos */
form .form-input {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
}

.input-form[type="text"],
.input-form[type="number"],
.input-form[type="date"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.btn-submit {
    display: block;
    width: 100%;
    padding: 15px;
    background-color: #1976D2;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: .2s ease;
}

.btn-submit:hover {
    background-color: #1565C0;
    transform: scale(1.01);
}

.container-form {
    margin-top: 50px;
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

/* PRODUCTS */

.table-container {
    width: 100%;
    max-height: 680px;
    overflow-x: auto;
}

.product-table {
    width: 100%;
    border-collapse: collapse;
}

.product-table thead th {
    position: sticky;
    top: 0;
    background-color: #455A64;
    color: white;
    z-index: 10;
}

.product-table tbody {
    max-height: 300px;
    overflow-y: auto;
}

.product-table thead,
.product-table tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed;
}

.product-table th,
.product-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.product-table tbody tr {
    display: table;
    table-layout: fixed;
    width: 100%;
}

.product-table th,
.product-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.product-table th {
    background-color: #455A64;
    color: #fff;
}

.product-table tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

.product-table tbody tr:hover {
    background-color: #ddd;
}

.td-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 5px;

}

.product-table .td-btn {
    border: 1px solid #ddd;
}

.td-btn button {
    display: block;
    width: 100%;
    padding: 5px;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.td-btn .show-btn {
    background-color: #6ea2ff;
    transition: .2s ease;
    width: 30%;
}

.td-btn .show-btn:hover {
    transform: scale(1.05);
}

.td-btn .update-btn {
    background-color: #6bbf59;
    transition: .2s ease;
    width: 30%;
}

.td-btn .update-btn:hover {
    transform: scale(1.05);
}

.td-btn .remove-btn {
    width: 30%;
    background-color: #ef5350;
    transition: .2s ease;
}

.td-btn .remove-btn:hover {
    transform: scale(1.05);
}

.table-container::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

.table-container::-webkit-scrollbar-track {
    background: #f1f1f1;
}

.table-container::-webkit-scrollbar-thumb {
    background: #6ea2ff;
    border-radius: 10px;
}


.table-container::-webkit-scrollbar-thumb:hover {
    background: #1976D2;
}